<a href="https://colab.research.google.com/github/chien2734/sgu_data_analyst/blob/main/Slide_02_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python programming

## Python Hello World

In [1]:
print("Hello World")

Hello World

## Python Syntax

### Comment

In [4]:
# I'm SGU student

### Indentation the spaces at the beginning of a code line 4 spaces

In [5]:
score = 90
if score >=60 :
  print("Pass")
else:
  print("No Pass")

Pass

## Python Variables

In [6]:
# Python variables
x = 4
print(x)

price = 2.9
print(price)

word = 'Hello'
print(word)

word = 'Hello'
print(word)

word = "Hello"
print(word)

word = '''Hello'''
print(word)

y = x + 1
print(y)

4
2.9
Hello
Hello
Hello
Hello
5

## Python_version()

In [7]:
# comment
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.12.11

## Python Data Types

In [9]:
x = "Hello World"
print(type(x))    #str
x = 2
print(type(x))    #int
x = 2.5
print(type(x))    #float
x = 7j
print(type(x))    #complex
x = ["apple", "star apple", "cherry"]
print(type(x))    #list
x = ("sugar apple", "banana", "cherry")
print(type(x))    #tuple
x = range(6)
print(type(x))    #range
x = {"name" : "Tom", "age" : 20}
print(type(x))    #dict
x = {"apple", "banana", "cherry"}
print(type(x))    #set
x = frozenset({"apple", "banana", "cherry"})
print(type(x))    #frozenset
x = True
print(type(x))    #bool
x = b"Hello"
print(type(x))    #bytes
x = bytearray(5)
print(type(x))    #bytearray
x = memoryview(bytes(5))
print(type(x))    #memoryview
x = None
print(type(x))    #NoneType

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>

### Python Casting

In [10]:
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0
print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

### Python Numbers

In [11]:
x = 2 # int
y = 3.4 # float
z = 7j #complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

## Python Arithmetic Operators

In [12]:
# Operator Name Example
# + Addition 7 + 2 = 9
print(7 + 2)
# - Subtraction 7 - 2 = 5
print(7 - 2)
# * Multiplication 7 * 2 = 14
print(7 * 2)
# / Division 7 / 2 = 3.5
print(7 / 2)
# // Floor division 7 // 2 = 3 (Quotient)
print(7 // 2)
# % Modulus 7 % 2 = 1 (Remainder)
print(7 % 2)
# ** Exponentiation 7 ** 2 = 49
print(7 ** 2)

9
5
14
3.5
3
1
49

## Python Basic Operators

In [13]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

## Python Booleans: True or False

In [14]:
# Python Booleans: True or False
print(3 > 4)
print(3 == 4)
print(3 < 4)

False
False
True

## Python BMI Calculator

In [16]:
# BMI Calculator in Python
height_cm = 169
weight_kg = 49
height_m = height_cm/100
BMI = (weight_kg/(height_m**2))

print("My BMI is: " + str(round(BMI,1)))

My BMI is: 17.2

## Future value of a specified principal amount, rate of interest, and a number of years