<a href="https://colab.research.google.com/github/chien2734/sgu_data_analyst/blob/main/Personal/%5BBOOK%5D_Python_for_DataAnalyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1> CHAPTER 1: Prelininaries

## 1.1 What Is This Book About?

## 1.2 Why Python for Data Analysis?

## 1.3 Essential Python Libraries

## 1.4 Installation and Setup

## 1.5 Community and Conferences

## 1.6 Navigating This Book

In [ ]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = 20
pd.options.display.max_rows = 20
pd.options.display.max_colwidth = 80
np.set_printoptions(precision=4, suppress=True)

In [ ]:
#Import Conventions
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import statsmodels as sm

<h1> CHAPTER 2:
Python Language Basics, IPython,
and Jupyter Notebooks

## 2.1 The Python Interpreter

In [ ]:
a = 5
print(a)

print("Hello world")

5
Hello world

## 2.2 IPython Basics

### Running the IPython Shell

In [ ]:
a = 5
a #print 5

5

In [ ]:
import numpy as np
data = [np.random.standard_normal() for i in range(8)]
data #print(data)

[-0.04664350085945034,
 0.08334126223593778,
 0.044577390567203785,
 -0.07512381189122282,
 -2.538163815938322,
 0.3652711235795394,
 -1.6728013983197745,
 1.6451020548688982]

### Running the Jupyter Notebook

### Tab Completion

In [ ]:
an_apple = 27
an_example = 42
an_apple

b = [1, 2, 3]
b.append

import datetime
datetime.datetime.now()

None

datetime.datetime(2025, 10, 13, 5, 43, 16, 140007)

### Introspection

Using a question mark (?) before or after a variable will display some general infor‐
mation about the object:

In [ ]:
b = [1, 2, 3]
b?

print?
# Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
# Docstring:
# Prints the values to a stream, or to sys.stdout by default.

In [ ]:
def add_numbers(a, b):
  """
  Add two numbers together
  Returns
  -------
  the_sum : type of arguments
  """
  return a + b

add_numbers?
# Signature: add_numbers(a, b)
# Docstring:
# Add two numbers together
# Returns

In [ ]:
import numpy as np
np.*load*?
# np.__loader__
# np.load
# np.loadtxt

## 2.3 Python Language Basics

### Language Semantics

#### Indentation, not braces

In [ ]:
for x in array:
  if x < pivot:
    less.append(x)
  else:
    greater.append(x)

a = 5; b = 6; c = 7

#### Comment

In [ ]:
results = []
for line in file_handle:
  # keep the empty lines for now
  # if len(line) == 0:
  # continue
  results.append(line.replace("foo", "bar"))

print("Reached this line") # Simple status report

#### Function and object method calls

In [ ]:
result = f(x, y, z)
g()

obj.some_method(x, y, z)

result = f(a, b, c, d=5, e="foo")

#### Variables and argument passing

In [ ]:
a = [1, 2, 3]
b = a
a.append(4)
print(b)

def append_element(some_list, element):
  some_list.append(element)
#Then we have:
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

[1, 2, 3, 4]

#### Dynamic references, strong types

In [ ]:
a = 5
print(type(a)) # int
a = "foo"
print(type(a)) # str

#"5" + 5 # Error

a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

<class 'int'>
<class 'str'>
a is <class 'float'>, b is <class 'int'>

2.25

In [ ]:
a = 5
print(isinstance(a, int))

a = 5; b = 4.5
print(isinstance(a, (int, float)))
print(isinstance(b, (int, float)))

True
True
True

#### Attributes and methods

In [ ]:
a = "foo"
getattr(a, "split")

#### Duck typing

In [ ]:
def isiterable(obj):
  try:
    iter(obj)
    return True
  except TypeError: # not iterable
    return False

In [ ]:
isiterable("a string") #True
isiterable([1, 2, 3]) #True
isiterable(5) #False

False

#### Imports

In [ ]:
import some_module
result = some_module.f(5)
pi = some_module.PI
#Or alternately:
from some_module import g, PI
result = g(5, PI)
#By using the as keyword, you can give imports different variable names:
import some_module as sm
from some_module import PI as pi, g as gf
r1 = sm.f(pi)
r2 = gf(6, pi)

#### Binary operators and comparisons

In [ ]:
print(5 - 7)
print(12 + 21.5)
print(5 <= 2)
a = [1, 2, 3]
b = a
c = list(a)
print(a is b)
print(a is not c)
print(a==c)
a = None
print(a is None)

-2
33.5
False
True
True
True
True

#### Mutable and immutable objects

In [ ]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"
#'tuple' object does not support item assignment

['foo', 2, (3, 4)]

### Scalar Types

#### Numeric types

In [ ]:
ival = 17239871
print(ival**6)

fval = 7.243
fval2 = 6.78e-5

print(3/2)
print(3//2)

26254519291092456596965462913230729701102721
1.5
1

#### Strings

In [ ]:
a = 'this is a string'
b = "another way"
c = """
This is a longer string that
spans multiple lines
"""

print(c.count("\n"))

#a[10] ="f"
#'str' object does not support item assignment

b = a.replace("string", "longer string")
print(b)
print(a)

a = 5.6
s=str(a)
print(s)

s = "python"
print(list(s))
print(s[:3])

s = "12\\34"
print(s)

s = r"this\has\no\special\characters"
print(s)

a = "this is the first half "
b = "and this is the second half"
print(a + b)

template = "{0:.2f} {1:s} are worth US${2:d}"

print(template.format(88.46, "Argentine Pesos", 1))

amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"
f"{amount} {currency} is worth US${amount / rate:.2f}"

3
this is a longer string
this is a string
5.6
['p', 'y', 't', 'h', 'o', 'n']
pyt
12\34
this\has\no\special\characters
this is the first half and this is the second half
88.46 Argentine Pesos are worth US$1

'10 Pesos is worth US$0.11'

#### Bytes and Unicode

In [ ]:
val = "español"
print(val)

val_utf8 = val.encode("utf-8")
print(val_utf8)

print(type(val_utf8))
print(val_utf8.decode("utf-8"))

print(val.encode("latin1"))
print(val.encode("utf-16"))
print(val.encode("utf-16le"))

español
b'espa\xc3\xb1ol'
<class 'bytes'>
español
b'espa\xf1ol'
b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'
b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

#### Booleans

In [ ]:
print(True and True)
print(False or True)
print(int(False))
print(int(True))
a = True
b = False
print(not a)
print( not b)

True
True
0
1
False
True

#### Type casting

In [ ]:
s = "3.14159"
fval = float(s)
print(type(fval))
print(int(fval))
print(bool(fval))
print(bool(0))

<class 'float'>
3
True
False

#### None

In [ ]:
a = None
print(a is None)
b = 5
print(b is not None)

True
True

In [ ]:
def add_and_maybe_multiply(a, b, c=None):
  result = a + b
  if c is not None:
    result = result * c
  return result
print(add_and_maybe_multiply(1, 2))
add_and_maybe_multiply(1, 2, 3)

3

9

#### Dates and times

In [ ]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
print(dt.day)
print(dt.minute)

print(dt.date())
print(dt.time())

print(dt.strftime("%Y-%m-%d %H:%M"))
print(datetime.strptime("20091031", "%Y%m%d"))

dt_hour = dt.replace(minute=0, second=0)
print(dt_hour)
print(dt)

29
30
2011-10-29
20:30:21
2011-10-29 20:30
2009-10-31 00:00:00
2011-10-29 20:00:00
2011-10-29 20:30:21

In [ ]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
print(delta)
print(type(delta))
print(dt)
print(dt + delta)

17 days, 1:59:39
<class 'datetime.timedelta'>
2011-10-29 20:30:21
2011-11-15 22:30:00

### Control Flow

#### if, elif, and else

In [ ]:
x = -5
if x < 0:
  print("It's negative")

It's negative

In [ ]:
if x < 0:
  print("It's negative")
elif x == 0:
  print("Equal to zero")
elif 0 < x < 5:
  print("Positive but smaller than 5")
else:
  print("Positive and larger than or equal to 5")

It's negative

In [ ]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
  print("Made it")

Made it

In [ ]:
4 > 3 > 2 < 1

False

#### for loops

In [ ]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
  if value is None:
    continue
  total += value
print(total)

12

In [ ]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
  if value == 5:
    break
  total_until_5 += value
print(total_until_5)

13

In [ ]:
for i in range(4):
   for j in range(4):
    if j > i:
      break
    print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

#### while loops

In [ ]:
x = 256
total = 0
while x > 0:
  if total > 500:
    break
  total += x
  x = x // 2
print(total)

504

#### pass

In [ ]:
if x < 0:
  print("negative!")
elif x == 0:
# TODO: put something smart here
  pass
else:
  print("positive!")

positive!

#### range

In [ ]:
print(range(10))
print(list(range(10)))
print(list(range(0, 20, 2)))
print(list(range(5, 0, -1)))

seq = [1, 2, 3, 4]
for i in range(len(seq)):
  print(f"element {i}: {seq[i]}")

total = 0
for i in range(100_000):
   # % is the modulo operator
   if i % 3 == 0 or i % 5 == 0:
    total += i
print(total)

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[5, 4, 3, 2, 1]
element 0: 1
element 1: 2
element 2: 3
element 3: 4
2333316668

## 2.4 Conclusion

# CHAPTER 3: Built-In Data Structures Functions, and Files

## 3.1 Data Structures and Sequences

### Tuple
A tuple is a fixed-length, immutable sequence of Python objects which, once assigned,
cannot be changed.

In [1]:
tup = (4, 5, 6)
print(tup)

(4, 5, 6)

In [2]:
tup = 1, 2, 3
tup

(1, 2, 3)

In [5]:
tuple([4, 0, 3])

(4, 0, 3)

In [7]:
tup = tuple('Bui Duc Chien')
tup

('B', 'u', 'i', ' ', 'D', 'u', 'c', ' ', 'C', 'h', 'i', 'e', 'n')

In [8]:
tup[0]

'B'

In [9]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [11]:
print(nested_tup[0])
print(nested_tup[1])

(4, 5, 6)
(7, 8)

In [16]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [17]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [18]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [19]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples
If you try to assign to a tuple-like expression of variables, Python will attempt to
unpack the value on the righthand side of the equals sign:

In [21]:
tup = (4, 5, 6)
a, b, c = tup
c

6

In [22]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [24]:
a, b = 1, 2
print("Before: a = ", a)
print("Before: b = ", b)
#swap
b, a = a, b
print("After: a = ", a)
print("After: b = ", b)

Before: a =  1
Before: b =  2
After: a =  2
After: b =  1

In [25]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
  print(f"a={a}, b={b}, c={c}")
#

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [26]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a, b)
print(rest)

1 2
[3, 4, 5]

In [29]:
a, b, *_ = values
_

[3, 4, 5]

#### Tuple methods
Since the size and contents of a tuple cannot be modified, it is very light on instance
methods.

In [30]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### List
In contrast with tuples, lists are variable length and their contents can be modified in
place. Lists are mutable. You can define them using square brackets [] or using the
list type function:

In [40]:
a_list = [2, 3, 7, None]
tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [41]:
b_list[1] = "peekaboo"
b_list

['foo', 'peekaboo', 'baz']

In [42]:
gen = range(10)
print(gen)
list(gen)

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

In [43]:
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [44]:
b_list.insert(1, "red")
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [45]:
print(b_list.pop(2))
b_list

peekaboo

['foo', 'red', 'baz', 'dwarf']

In [46]:
b_list.append("foo")
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [47]:
b_list.remove("foo")
b_list

['red', 'baz', 'dwarf', 'foo']

Check if a list contains a value

In [48]:
"dwarf" in b_list

True

In [50]:
"dwarf" not in b_list

False

#### Concatenating and combining lists

In [51]:
#Similar to tuples, adding two lists together with + concatenates them:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [52]:
#If you have a list already defined, you can append multiple elements to it using theextend method:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

#### Sort
You can sort a list in place (without creating a new object) by calling its sort
function:

In [53]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [56]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

#### Slicing
You can select sections of most sequence types by using slice notation, which in its
basic form consists of start:stop passed to the indexing operator []:

In [58]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[2:6]

[3, 7, 5, 6]

In [60]:
seq[3:5] = [7,1]
seq

[7, 2, 3, 7, 1, 6, 0, 1]

In [62]:
print(seq[:3])
print(seq[-4:])
print(seq[-6:-2])

[7, 2, 3]
[1, 6, 0, 1]
[3, 7, 1, 6]

In [65]:
#A step can also be used after a second colon to, say, take every other element:
print(seq[::3])
#A clever use of this is to pass -1, which has the useful effect of reversing a list or tuple:
seq[::-1]

[7, 7, 0]

[1, 0, 6, 1, 7, 3, 2, 7]

### Dictionary
The dictionary or dict may be the most important built-in Python data structure.
In other programming languages, dictionaries are sometimes called hash maps or
associative arrays. A dictionary stores a collection of key-value pairs, where key and
value are Python objects. Each key is associated with a value so that a value can
be conveniently retrieved, inserted, modified, or deleted given a particular key. One
approach for creating a dictionary is to use curly braces {} and colons to separate
keys and values:

In [67]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [68]:
#You can access, insert, or set elements using the same syntax
d1[7] = "an integer"
print(d1)
d1["b"]

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

[1, 2, 3, 4]

In [69]:
#You can check if a dictionary contains a key using the same syntax
"b" in d1

True

In [71]:
d1[5] = "some value"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [72]:
d1["dummy"] = "another value"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [73]:
#You can delete values using either the del keyword or the pop method
del d1[5]
print(d1)
ret = d1.pop("dummy")
print(ret)
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'dummy': 'another value'}
another value

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [76]:
print("Keys of dictionary d1: ", list(d1.keys()))
print("Values of dictionary d1: ", list(d1.values()))

Keys of dictionary d1:  ['a', 'b', 7]
Values of dictionary d1:  ['some value', [1, 2, 3, 4], 'an integer']

In [77]:
#If you need to iterate over both the keys and values, you can use the items method to
#iterate over the keys and values as 2-tuples:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [78]:
# You can merge one dictionary into another using the update method:
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### Creating dictionaries from sequences

In [81]:
#Code that you want to pair up element-wise in a dictionary.
mapping = {}
for key, value in zip(key_list, value_list):
  mapping[key] = value

In [80]:
tuples = zip(range(5), reversed(range(5)))
tuples

In [81]:
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default values

In [ ]:
#It’s common to have logic like:
if key in some_dict:
  value = some_dict[key]
else:
  value = default_value
#Thus, the dictionary methods get and pop can take a default value to be returned,
value = some_dict.get(key, default_value)

In [82]:
#You could imagine categorizing a list of
#words by their first letters as a dictionary of lists:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}
for word in words:
  letter = word[0]
  if letter not in by_letter:
    by_letter[letter] = [word]
  else:
    by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [84]:
#The setdefault dictionary method can be used to simplify this workflow.
by_letter = {}
for word in words:
  letter = word[0]
  by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [85]:
#The built-in collections module has a useful class, defaultdict,
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
  by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

#### Valid dictionary key types
While the values of a dictionary can be any Python object, the keys generally have to
be immutable objects like scalar types (int, float, string) or tuples (all the objects in
the tuple need to be immutable, too). The technical term here is hashability. You can
check whether an object is hashable (can be used as a key in a dictionary) with the
hash function:

In [86]:
print(hash("string"))
print(hash((1, 2, (2, 3))))
print(hash((1, 2, [2, 3])))

7018702852872777500
-9209053662355515447

TypeError: unhashable type: 'list'

In [87]:
#To use a list as a key, one option is to convert it to a tuple, which can be hashed as
#long as its elements also can be:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### Set
A set is an unordered collection of unique elements.

In [88]:
print(set([2, 2, 2, 1, 3, 3]))
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

{1, 2, 3}

In [90]:
#Sets support mathematical set operations like union, intersection, difference, and symmetric difference.
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
#union
print(a.union(b))
print(a | b)
#intersection
print(a.intersection(b))
print(a & b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}
{3, 4, 5}

In [92]:
# For very large sets, this may be more efficient:
c = a.copy()
c |= b
print(c)
d = a.copy()
d &= b
print(d)

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}

In [93]:
#Like dictionary keys, set elements generally must be immutable, and they must be
# hashable. In order to store list-like elements (or other mutable sequences) in a set, you can convert
# them to tuples:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [94]:
# also check if a set is a subset of (is contained in) or a superset of (contains all
# elements of) another set:
a_set = {1, 2, 3, 4, 5}
print({1, 2, 3}.issubset(a_set))
a_set.issuperset({1, 2, 3})

True

True

In [96]:
# Sets are equal if and only if their contents are equal:
{1, 3, 2} == {2, 1, 3}

True

### Built-In Sequence Functions
Python has a handful of useful sequence functions that you should familiarize your‐
self with and use at any opportunity.

#### enumerate
It’s common when iterating over a sequence to want to keep track of the index of the
current item.

In [ ]:
index = 0
for value in collection:
# do something with value
  index += 1

In [ ]:
# Python has a built-in function, enumerate, which returns a
# sequence of (i, value) tuples:
for index, value in enumerate(collection):
# do something with value

#### sorted

In [97]:
print(sorted([7, 1, 2, 6, 0, 3, 2]))
print(sorted("horse race"))

[0, 1, 2, 2, 3, 6, 7]
[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### zip
zip “pairs” up the elements of a number of lists, tuples, or other sequences to create a
list of tuples:

In [98]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [99]:
# zip can take an arbitrary number of sequences, and the number of elements it
# produces is determined by the shortest sequence:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [101]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
  print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

#### reversed

In [102]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### List, Set, and Dictionary Comprehensions
List comprehensions are a convenient and widely used Python language feature. They
allow you to concisely form a new list by filtering the elements of a collection,
transforming the elements passing the filter into one concise expression. They takethe basic form:

*[expr for value in collection if condition]*

the following for loop:

    result = []
    for value in collection:
      if condition:
        result.append(expr)

In [104]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 3]

['DOVE', 'PYTHON']

A dictionary comprehension looks like this:

    dict_comp = {key-expr: value-expr for value in collection if condition}

A set comprehension looks like the equivalent list comprehension except with curly
braces instead of square brackets:

    set_comp = {expr for value in collection if condition}

In [106]:
# set comprehension
unique_lengths = {len(x) for x in strings}
print(unique_lengths)
# using map function
set(map(len, strings))

{1, 2, 3, 4, 6}

{1, 2, 3, 4, 6}