## 2.1 The Python Interpreter

In [ ]:
a = 5
print(a)

print("Hello world")

5
Hello world

## 2.2 IPython Basics

### Running the IPython Shell

In [ ]:
a = 5
a #print 5

5

In [ ]:
import numpy as np
data = [np.random.standard_normal() for i in range(8)]
data #print(data)

[-0.04664350085945034,
 0.08334126223593778,
 0.044577390567203785,
 -0.07512381189122282,
 -2.538163815938322,
 0.3652711235795394,
 -1.6728013983197745,
 1.6451020548688982]

### Running the Jupyter Notebook

### Tab Completion

In [ ]:
an_apple = 27
an_example = 42
an_apple

b = [1, 2, 3]
b.append

import datetime
datetime.datetime.now()

None

datetime.datetime(2025, 10, 13, 5, 43, 16, 140007)

### Introspection

Using a question mark (?) before or after a variable will display some general infor‐
mation about the object:

In [ ]:
b = [1, 2, 3]
b?

print?
# Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
# Docstring:
# Prints the values to a stream, or to sys.stdout by default.

In [ ]:
def add_numbers(a, b):
  """
  Add two numbers together
  Returns
  -------
  the_sum : type of arguments
  """
  return a + b

add_numbers?
# Signature: add_numbers(a, b)
# Docstring:
# Add two numbers together
# Returns

In [ ]:
import numpy as np
np.*load*?
# np.__loader__
# np.load
# np.loadtxt

## 2.3 Python Language Basics

### Language Semantics

#### Indentation, not braces

In [ ]:
for x in array:
  if x < pivot:
    less.append(x)
  else:
    greater.append(x)

a = 5; b = 6; c = 7

#### Comment

In [ ]:
results = []
for line in file_handle:
  # keep the empty lines for now
  # if len(line) == 0:
  # continue
  results.append(line.replace("foo", "bar"))

print("Reached this line") # Simple status report

#### Function and object method calls

In [ ]:
result = f(x, y, z)
g()

obj.some_method(x, y, z)

result = f(a, b, c, d=5, e="foo")

#### Variables and argument passing

In [ ]:
a = [1, 2, 3]
b = a
a.append(4)
print(b)

def append_element(some_list, element):
  some_list.append(element)
#Then we have:
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

[1, 2, 3, 4]

#### Dynamic references, strong types

In [ ]:
a = 5
print(type(a)) # int
a = "foo"
print(type(a)) # str

#"5" + 5 # Error

a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

<class 'int'>
<class 'str'>
a is <class 'float'>, b is <class 'int'>

2.25

In [ ]:
a = 5
print(isinstance(a, int))

a = 5; b = 4.5
print(isinstance(a, (int, float)))
print(isinstance(b, (int, float)))

True
True
True

#### Attributes and methods

In [ ]:
a = "foo"
getattr(a, "split")

#### Duck typing

In [ ]:
def isiterable(obj):
  try:
    iter(obj)
    return True
  except TypeError: # not iterable
    return False

In [ ]:
isiterable("a string") #True
isiterable([1, 2, 3]) #True
isiterable(5) #False

False

#### Imports

In [ ]:
import some_module
result = some_module.f(5)
pi = some_module.PI
#Or alternately:
from some_module import g, PI
result = g(5, PI)
#By using the as keyword, you can give imports different variable names:
import some_module as sm
from some_module import PI as pi, g as gf
r1 = sm.f(pi)
r2 = gf(6, pi)

#### Binary operators and comparisons

In [ ]:
print(5 - 7)
print(12 + 21.5)
print(5 <= 2)
a = [1, 2, 3]
b = a
c = list(a)
print(a is b)
print(a is not c)
print(a==c)
a = None
print(a is None)

-2
33.5
False
True
True
True
True

#### Mutable and immutable objects

In [ ]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"
#'tuple' object does not support item assignment

['foo', 2, (3, 4)]

### Scalar Types

#### Numeric types

In [ ]:
ival = 17239871
print(ival**6)

fval = 7.243
fval2 = 6.78e-5

print(3/2)
print(3//2)

26254519291092456596965462913230729701102721
1.5
1

#### Strings

In [ ]:
a = 'this is a string'
b = "another way"
c = """
This is a longer string that
spans multiple lines
"""

print(c.count("\n"))

#a[10] ="f"
#'str' object does not support item assignment

b = a.replace("string", "longer string")
print(b)
print(a)

a = 5.6
s=str(a)
print(s)

s = "python"
print(list(s))
print(s[:3])

s = "12\\34"
print(s)

s = r"this\has\no\special\characters"
print(s)

a = "this is the first half "
b = "and this is the second half"
print(a + b)

template = "{0:.2f} {1:s} are worth US${2:d}"

print(template.format(88.46, "Argentine Pesos", 1))

amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"
f"{amount} {currency} is worth US${amount / rate:.2f}"

3
this is a longer string
this is a string
5.6
['p', 'y', 't', 'h', 'o', 'n']
pyt
12\34
this\has\no\special\characters
this is the first half and this is the second half
88.46 Argentine Pesos are worth US$1

'10 Pesos is worth US$0.11'

#### Bytes and Unicode

In [ ]:
val = "español"
print(val)

val_utf8 = val.encode("utf-8")
print(val_utf8)

print(type(val_utf8))
print(val_utf8.decode("utf-8"))

print(val.encode("latin1"))
print(val.encode("utf-16"))
print(val.encode("utf-16le"))

español
b'espa\xc3\xb1ol'
<class 'bytes'>
español
b'espa\xf1ol'
b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'
b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

#### Booleans

In [ ]:
print(True and True)
print(False or True)
print(int(False))
print(int(True))
a = True
b = False
print(not a)
print( not b)

True
True
0
1
False
True

#### Type casting

In [ ]:
s = "3.14159"
fval = float(s)
print(type(fval))
print(int(fval))
print(bool(fval))
print(bool(0))

<class 'float'>
3
True
False

#### None

In [ ]:
a = None
print(a is None)
b = 5
print(b is not None)

True
True

In [ ]:
def add_and_maybe_multiply(a, b, c=None):
  result = a + b
  if c is not None:
    result = result * c
  return result
print(add_and_maybe_multiply(1, 2))
add_and_maybe_multiply(1, 2, 3)

3

9

#### Dates and times

In [ ]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
print(dt.day)
print(dt.minute)

print(dt.date())
print(dt.time())

print(dt.strftime("%Y-%m-%d %H:%M"))
print(datetime.strptime("20091031", "%Y%m%d"))

dt_hour = dt.replace(minute=0, second=0)
print(dt_hour)
print(dt)

29
30
2011-10-29
20:30:21
2011-10-29 20:30
2009-10-31 00:00:00
2011-10-29 20:00:00
2011-10-29 20:30:21

In [ ]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
print(delta)
print(type(delta))
print(dt)
print(dt + delta)

17 days, 1:59:39
<class 'datetime.timedelta'>
2011-10-29 20:30:21
2011-11-15 22:30:00

### Control Flow

#### if, elif, and else

In [ ]:
x = -5
if x < 0:
  print("It's negative")

It's negative

In [ ]:
if x < 0:
  print("It's negative")
elif x == 0:
  print("Equal to zero")
elif 0 < x < 5:
  print("Positive but smaller than 5")
else:
  print("Positive and larger than or equal to 5")

It's negative

In [ ]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
  print("Made it")

Made it

In [ ]:
4 > 3 > 2 < 1

False

#### for loops

In [ ]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
  if value is None:
    continue
  total += value
print(total)

12

In [ ]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
  if value == 5:
    break
  total_until_5 += value
print(total_until_5)

13

In [ ]:
for i in range(4):
   for j in range(4):
    if j > i:
      break
    print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

#### while loops

In [ ]:
x = 256
total = 0
while x > 0:
  if total > 500:
    break
  total += x
  x = x // 2
print(total)

504

#### pass

In [ ]:
if x < 0:
  print("negative!")
elif x == 0:
# TODO: put something smart here
  pass
else:
  print("positive!")

positive!

#### range

In [ ]:
print(range(10))
print(list(range(10)))
print(list(range(0, 20, 2)))
print(list(range(5, 0, -1)))

seq = [1, 2, 3, 4]
for i in range(len(seq)):
  print(f"element {i}: {seq[i]}")

total = 0
for i in range(100_000):
   # % is the modulo operator
   if i % 3 == 0 or i % 5 == 0:
    total += i
print(total)

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[5, 4, 3, 2, 1]
element 0: 1
element 1: 2
element 2: 3
element 3: 4
2333316668

## 2.4 Conclusion