# CHAPTER 3: Built-In Data Structures Functions, and Files

## 3.1 Data Structures and Sequences

### Tuple
A tuple is a fixed-length, immutable sequence of Python objects which, once assigned,
cannot be changed.

In [ ]:
tup = (4, 5, 6)
print(tup)

(4, 5, 6)

In [ ]:
tup = 1, 2, 3
tup

(1, 2, 3)

In [ ]:
tuple([4, 0, 3])

(4, 0, 3)

In [ ]:
tup = tuple('Bui Duc Chien')
tup

('B', 'u', 'i', ' ', 'D', 'u', 'c', ' ', 'C', 'h', 'i', 'e', 'n')

In [ ]:
tup[0]

'B'

In [ ]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [ ]:
print(nested_tup[0])
print(nested_tup[1])

(4, 5, 6)
(7, 8)

In [ ]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [ ]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [ ]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples
If you try to assign to a tuple-like expression of variables, Python will attempt to
unpack the value on the righthand side of the equals sign:

In [ ]:
tup = (4, 5, 6)
a, b, c = tup
c

6

In [ ]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [ ]:
a, b = 1, 2
print("Before: a = ", a)
print("Before: b = ", b)
#swap
b, a = a, b
print("After: a = ", a)
print("After: b = ", b)

Before: a =  1
Before: b =  2
After: a =  2
After: b =  1

In [ ]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
  print(f"a={a}, b={b}, c={c}")
#

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [ ]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a, b)
print(rest)

1 2
[3, 4, 5]

In [ ]:
a, b, *_ = values
_

[3, 4, 5]

#### Tuple methods
Since the size and contents of a tuple cannot be modified, it is very light on instance
methods.

In [ ]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### List
In contrast with tuples, lists are variable length and their contents can be modified in
place. Lists are mutable. You can define them using square brackets [] or using the
list type function:

In [ ]:
a_list = [2, 3, 7, None]
tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [ ]:
b_list[1] = "peekaboo"
b_list

['foo', 'peekaboo', 'baz']

In [ ]:
gen = range(10)
print(gen)
list(gen)

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

In [ ]:
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [ ]:
b_list.insert(1, "red")
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [ ]:
print(b_list.pop(2))
b_list

peekaboo

['foo', 'red', 'baz', 'dwarf']

In [ ]:
b_list.append("foo")
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [ ]:
b_list.remove("foo")
b_list

['red', 'baz', 'dwarf', 'foo']

Check if a list contains a value

In [ ]:
"dwarf" in b_list

True

In [ ]:
"dwarf" not in b_list

False

#### Concatenating and combining lists

In [ ]:
#Similar to tuples, adding two lists together with + concatenates them:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [ ]:
#If you have a list already defined, you can append multiple elements to it using theextend method:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

#### Sort
You can sort a list in place (without creating a new object) by calling its sort
function:

In [ ]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [ ]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

#### Slicing
You can select sections of most sequence types by using slice notation, which in its
basic form consists of start:stop passed to the indexing operator []:

In [ ]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[2:6]

[3, 7, 5, 6]

In [ ]:
seq[3:5] = [7,1]
seq

[7, 2, 3, 7, 1, 6, 0, 1]

In [ ]:
print(seq[:3])
print(seq[-4:])
print(seq[-6:-2])

[7, 2, 3]
[1, 6, 0, 1]
[3, 7, 1, 6]

In [ ]:
#A step can also be used after a second colon to, say, take every other element:
print(seq[::3])
#A clever use of this is to pass -1, which has the useful effect of reversing a list or tuple:
seq[::-1]

[7, 7, 0]

[1, 0, 6, 1, 7, 3, 2, 7]

### Dictionary
The dictionary or dict may be the most important built-in Python data structure.
In other programming languages, dictionaries are sometimes called hash maps or
associative arrays. A dictionary stores a collection of key-value pairs, where key and
value are Python objects. Each key is associated with a value so that a value can
be conveniently retrieved, inserted, modified, or deleted given a particular key. One
approach for creating a dictionary is to use curly braces {} and colons to separate
keys and values:

In [ ]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [ ]:
#You can access, insert, or set elements using the same syntax
d1[7] = "an integer"
print(d1)
d1["b"]

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

[1, 2, 3, 4]

In [ ]:
#You can check if a dictionary contains a key using the same syntax
"b" in d1

True

In [ ]:
d1[5] = "some value"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [ ]:
d1["dummy"] = "another value"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [ ]:
#You can delete values using either the del keyword or the pop method
del d1[5]
print(d1)
ret = d1.pop("dummy")
print(ret)
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'dummy': 'another value'}
another value

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}