## 3.1 Data Structures and Sequences

### Tuple
A tuple is a fixed-length, immutable sequence of Python objects which, once assigned,
cannot be changed.

In [1]:
import pandas as pd
import numpy as np

In [ ]:
tup = (4, 5, 6)
print(tup)

(4, 5, 6)

In [ ]:
tup = 1, 2, 3
tup

(1, 2, 3)

In [ ]:
tuple([4, 0, 3])

(4, 0, 3)

In [ ]:
tup = tuple('Bui Duc Chien')
tup

('B', 'u', 'i', ' ', 'D', 'u', 'c', ' ', 'C', 'h', 'i', 'e', 'n')

In [ ]:
tup[0]

'B'

In [ ]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [ ]:
print(nested_tup[0])
print(nested_tup[1])

(4, 5, 6)
(7, 8)

In [ ]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [ ]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [ ]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples
If you try to assign to a tuple-like expression of variables, Python will attempt to
unpack the value on the righthand side of the equals sign:

In [ ]:
tup = (4, 5, 6)
a, b, c = tup
c

6

In [ ]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [ ]:
a, b = 1, 2
print("Before: a = ", a)
print("Before: b = ", b)
#swap
b, a = a, b
print("After: a = ", a)
print("After: b = ", b)

Before: a =  1
Before: b =  2
After: a =  2
After: b =  1

In [ ]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
  print(f"a={a}, b={b}, c={c}")
#

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [ ]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(a, b)
print(rest)

1 2
[3, 4, 5]

In [ ]:
a, b, *_ = values
_

[3, 4, 5]

#### Tuple methods
Since the size and contents of a tuple cannot be modified, it is very light on instance
methods.

In [ ]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### List
In contrast with tuples, lists are variable length and their contents can be modified in
place. Lists are mutable. You can define them using square brackets [] or using the
list type function:

In [ ]:
a_list = [2, 3, 7, None]
tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [ ]:
b_list[1] = "peekaboo"
b_list

['foo', 'peekaboo', 'baz']

In [ ]:
gen = range(10)
print(gen)
list(gen)

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

In [ ]:
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [ ]:
b_list.insert(1, "red")
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [ ]:
print(b_list.pop(2))
b_list

peekaboo

['foo', 'red', 'baz', 'dwarf']

In [ ]:
b_list.append("foo")
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [ ]:
b_list.remove("foo")
b_list

['red', 'baz', 'dwarf', 'foo']

Check if a list contains a value

In [ ]:
"dwarf" in b_list

True

In [ ]:
"dwarf" not in b_list

False

#### Concatenating and combining lists

In [ ]:
#Similar to tuples, adding two lists together with + concatenates them:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [ ]:
#If you have a list already defined, you can append multiple elements to it using theextend method:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

#### Sort
You can sort a list in place (without creating a new object) by calling its sort
function:

In [ ]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [ ]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

#### Slicing
You can select sections of most sequence types by using slice notation, which in its
basic form consists of start:stop passed to the indexing operator []:

In [ ]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[2:6]

[3, 7, 5, 6]

In [ ]:
seq[3:5] = [7,1]
seq

[7, 2, 3, 7, 1, 6, 0, 1]

In [ ]:
print(seq[:3])
print(seq[-4:])
print(seq[-6:-2])

[7, 2, 3]
[1, 6, 0, 1]
[3, 7, 1, 6]

In [ ]:
#A step can also be used after a second colon to, say, take every other element:
print(seq[::3])
#A clever use of this is to pass -1, which has the useful effect of reversing a list or tuple:
seq[::-1]

[7, 7, 0]

[1, 0, 6, 1, 7, 3, 2, 7]

### Dictionary
The dictionary or dict may be the most important built-in Python data structure.
In other programming languages, dictionaries are sometimes called hash maps or
associative arrays. A dictionary stores a collection of key-value pairs, where key and
value are Python objects. Each key is associated with a value so that a value can
be conveniently retrieved, inserted, modified, or deleted given a particular key. One
approach for creating a dictionary is to use curly braces {} and colons to separate
keys and values:

In [ ]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [ ]:
#You can access, insert, or set elements using the same syntax
d1[7] = "an integer"
print(d1)
d1["b"]

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

[1, 2, 3, 4]

In [ ]:
#You can check if a dictionary contains a key using the same syntax
"b" in d1

True

In [ ]:
d1[5] = "some value"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [ ]:
d1["dummy"] = "another value"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [ ]:
#You can delete values using either the del keyword or the pop method
del d1[5]
print(d1)
ret = d1.pop("dummy")
print(ret)
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'dummy': 'another value'}
another value

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [ ]:
print("Keys of dictionary d1: ", list(d1.keys()))
print("Values of dictionary d1: ", list(d1.values()))

Keys of dictionary d1:  ['a', 'b', 7]
Values of dictionary d1:  ['some value', [1, 2, 3, 4], 'an integer']

In [ ]:
#If you need to iterate over both the keys and values, you can use the items method to
#iterate over the keys and values as 2-tuples:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [ ]:
# You can merge one dictionary into another using the update method:
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### Creating dictionaries from sequences

In [ ]:
#Code that you want to pair up element-wise in a dictionary.
mapping = {}
for key, value in zip(key_list, value_list):
  mapping[key] = value

In [ ]:
tuples = zip(range(5), reversed(range(5)))
tuples

In [ ]:
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default values

In [ ]:
#It’s common to have logic like:
if key in some_dict:
  value = some_dict[key]
else:
  value = default_value
#Thus, the dictionary methods get and pop can take a default value to be returned,
value = some_dict.get(key, default_value)

In [ ]:
#You could imagine categorizing a list of
#words by their first letters as a dictionary of lists:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}
for word in words:
  letter = word[0]
  if letter not in by_letter:
    by_letter[letter] = [word]
  else:
    by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [ ]:
#The setdefault dictionary method can be used to simplify this workflow.
by_letter = {}
for word in words:
  letter = word[0]
  by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [ ]:
#The built-in collections module has a useful class, defaultdict,
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
  by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

#### Valid dictionary key types
While the values of a dictionary can be any Python object, the keys generally have to
be immutable objects like scalar types (int, float, string) or tuples (all the objects in
the tuple need to be immutable, too). The technical term here is hashability. You can
check whether an object is hashable (can be used as a key in a dictionary) with the
hash function:

In [ ]:
print(hash("string"))
print(hash((1, 2, (2, 3))))
print(hash((1, 2, [2, 3])))

7018702852872777500
-9209053662355515447

TypeError: unhashable type: 'list'

In [ ]:
#To use a list as a key, one option is to convert it to a tuple, which can be hashed as
#long as its elements also can be:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### Set
A set is an unordered collection of unique elements.

In [ ]:
print(set([2, 2, 2, 1, 3, 3]))
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

{1, 2, 3}

In [ ]:
#Sets support mathematical set operations like union, intersection, difference, and symmetric difference.
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
#union
print(a.union(b))
print(a | b)
#intersection
print(a.intersection(b))
print(a & b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}
{3, 4, 5}

In [ ]:
# For very large sets, this may be more efficient:
c = a.copy()
c |= b
print(c)
d = a.copy()
d &= b
print(d)

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5}

In [ ]:
#Like dictionary keys, set elements generally must be immutable, and they must be
# hashable. In order to store list-like elements (or other mutable sequences) in a set, you can convert
# them to tuples:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [ ]:
# also check if a set is a subset of (is contained in) or a superset of (contains all
# elements of) another set:
a_set = {1, 2, 3, 4, 5}
print({1, 2, 3}.issubset(a_set))
a_set.issuperset({1, 2, 3})

True

True

In [ ]:
# Sets are equal if and only if their contents are equal:
{1, 3, 2} == {2, 1, 3}

True

### Built-In Sequence Functions
Python has a handful of useful sequence functions that you should familiarize your‐
self with and use at any opportunity.

#### enumerate
It’s common when iterating over a sequence to want to keep track of the index of the
current item.

In [ ]:
index = 0
for value in collection:
# do something with value
  index += 1

In [ ]:
# Python has a built-in function, enumerate, which returns a
# sequence of (i, value) tuples:
for index, value in enumerate(collection):
# do something with value

#### sorted

In [ ]:
print(sorted([7, 1, 2, 6, 0, 3, 2]))
print(sorted("horse race"))

[0, 1, 2, 2, 3, 6, 7]
[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### zip
zip “pairs” up the elements of a number of lists, tuples, or other sequences to create a
list of tuples:

In [ ]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [ ]:
# zip can take an arbitrary number of sequences, and the number of elements it
# produces is determined by the shortest sequence:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [ ]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
  print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

#### reversed

In [ ]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### List, Set, and Dictionary Comprehensions
List comprehensions are a convenient and widely used Python language feature. They
allow you to concisely form a new list by filtering the elements of a collection,
transforming the elements passing the filter into one concise expression. They takethe basic form:

*[expr for value in collection if condition]*

the following for loop:

    result = []
    for value in collection:
      if condition:
        result.append(expr)

In [ ]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 3]

['DOVE', 'PYTHON']

A dictionary comprehension looks like this:

    dict_comp = {key-expr: value-expr for value in collection if condition}

A set comprehension looks like the equivalent list comprehension except with curly
braces instead of square brackets:

    set_comp = {expr for value in collection if condition}

In [ ]:
# set comprehension
unique_lengths = {len(x) for x in strings}
print(unique_lengths)
# using map function
set(map(len, strings))

{1, 2, 3, 4, 6}

{1, 2, 3, 4, 6}

In [ ]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions

In [ ]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)

names_of_interest

['Maria', 'Natalia']

In [ ]:
result = [name for names in all_data for name in names
                    if name.count("a") >= 2]
result

['Maria', 'Natalia']

Here is another example where we
“flatten” a list of tuples of integers into a simple list of integers:

In [ ]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

        flattened = []
        for tup in some_tuples:
            for x in tup:
                flattened.append(x)

In [ ]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 3.2 Functions

Functions are the primary and most important method of code organization and reuse in Python. As a rule of thumb, if you anticipate needing to repeat the same or very similar code more than once, it may be worth writing a reusable function.

In [ ]:
def my_function(x, y):
    return x + y

In [ ]:
my_function(3, 5)

8

In [ ]:
result = my_function(3, 5)
result

8

There is no issue with having multiple return statements. If Python reaches the end of a function without encountering a return statement, None is returned automati‐
cally.

In [ ]:
def function_without_return(x):
    print(x)
result = function_without_return("hello!")

hello!

In [ ]:
print(result)

None

Each function can have positional arguments and keyword arguments. Keyword argu‐ments are most commonly used to specify default values or optional arguments.

In [ ]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [ ]:
print(my_function2(3, 5, z=0.7))
print(my_function2(3.14, 7, 3.5))

0.0875
35.49

In [ ]:
my_function2(10, 20)

45.0

### Namespaces, Scope, and Local Functions

the function in higher (or even global) scopes. An alternative and more descriptive name describing a variable scope in Python is a namespace. Any variables that are assigned within a function by default are assigned to the local namespace. The local namespace is created when the function is called and is immediately populated by the function’s arguments. After the function is finished, the local namespace is destroyed

In [ ]:
def func():
    a = []
    for i in range(5):
        a.append(i)

When func() is called, the empty list a is created, five elements are appended, and then a is destroyed when the function exits.

In [ ]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [ ]:
#Each call to func will modify list a:
func()
a

func()
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [ ]:
a = None

def bind_a_variable():
    global a
    a = []
bind_a_variable()


print(a)

[]

### Returning Multiple Values

In [ ]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

What’s happening here is that the function is actually just returning one object, a tuple, which is then being unpacked into the result variables.

In [ ]:
return_value = f()
print(return_value)

(5, 6, 7)

In [ ]:
def f():
    a = 5
    b = 6
    c = 7
    return {"a" : a, "b" : b, "c" : c}

### Functions Are Objects

Since Python functions are objects, many constructs can be easily expressed that are difficult to do in other languages.

In [ ]:
states = [" Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
            "south carolina##", "West virginia?"]

One way to do this is to use built-in string methods
along with the re standard library module for regular expressions:

In [ ]:
import re
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result
result = clean_strings(states)
print(result)

['Alabama', 'Georgia', 'Georgia', 'Georgia', 'Florida', 'South Carolina', 'West Virginia']

An alternative approach that you may find useful is to make a list of the operations you want to apply to a particular set of strings:

In [ ]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

Then we have the following:

In [ ]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

You can use functions as arguments to other functions like the built-in map function, which applies a function to a sequence of some kind:

In [ ]:
for x in map(remove_punctuation, states):
    print(x)

 Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

### Anonymous (Lambda) Functions

In [ ]:
#option 1
def short_function(x):
    return x * 2
#option 2
equiv_anon = lambda x: x * 2
#option 3
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

You could also have written *[x * 2 for x in ints]*, but here we were able to succinctly pass a custom operator to the apply_to_list function.

In [ ]:
strings = ["foo", "card", "bar", "aaaa", "abab"]
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Generators
Many objects in Python support iteration, such as over objects in a list or lines in a
file. This is accomplished by means of the iterator protocol, a generic way to make
objects iterable.

In [ ]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

a
b
c

In [ ]:
dict_iterator = iter(some_dict)
dict_iterator

In [ ]:
list(dict_iterator)

['a', 'b', 'c']

To create a generator, use the yield
keyword instead of return in a function:

In [ ]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

gen = squares()
gen

In [ ]:
for x in gen:
    print(x, end=" ")
#Generating squares from 1 to 100

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

#### Generator expressions
Another way to make a generator is by using a generator expression. This is a genera‐
tor analogue to list, dictionary, and set comprehensions.

In [ ]:
gen = (x ** 2 for x in range(100))
gen

In [ ]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()
gen

In [ ]:
print(sum(x ** 2 for x in range(100)))
dict((i, i ** 2) for i in range(5))

328350

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### itertools module
The standard library itertools module has a collection of generators for many
common data algorithms. For example, groupby takes any sequence and a function,
grouping consecutive elements in the sequence by return value of the function.

In [ ]:
import itertools
def first_letter(x):
    return x[0]
names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### Errors and Exception Handling
Handling Python errors or exceptions gracefully is an important part of building
robust programs. In data analysis applications, many functions work only on certain
kinds of input.

In [ ]:
float("1.2345")

1.2345

In [ ]:
float("hello")

ValueError: could not convert string to float: 'hello'

Suppose we wanted a version of float that fails gracefully, returning the input
argument.

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [ ]:
print(attempt_float("1.2345"))
print(attempt_float("hello"))

1.2345
hello

In [ ]:
float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

You might want to suppress only ValueError, since a TypeError (the input was not a
string or numeric value) might indicate a legitimate bug in your program. To do that,
write the exception type after except:

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

attempt_float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

You can catch multiple exception types by writing a tuple of exception types instead

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

attempt_float((1, 2))

(1, 2)

use finally

In [ ]:
f = open("README.md", mode="w")
try:
    write_to_file(f)
finally:
    f.close()

In [ ]:
f = open("README.md", mode="w")
try:
    write_to_file(f)
except:
    print("Failed")
else:
    print("Succeeded")
finally:
    f.close()

#### Exceptions in IPython
If an exception is raised while you are %run-ing a script or executing any statement,
IPython will by default print a full call stack trace (traceback) with a few lines of
context around the position at each point in the stack:

In [ ]:
%run examples/ipython_bug.py

Exception: File `'examples/ipython_bug.py'` not found.

## 3.3 Files and the Operating System
To open a file for reading or writing, use the built-in open function with either a
relative or absolute file path and an optional file encoding:

In [ ]:
path = "C:\\Users\\Admin\\SGU Document\\Tài liệu ôn thi\\PHAO CỨU SINH MÔN JAVA.docx"
f = open(path, encoding="utf-8")

In [ ]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines
f.close()

In [ ]:
# One of the ways
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]

In [ ]:
f1 = open(path)
f1.read(10)
f2 = open(path, mode="rb") # Binary mode
f2.read(10)

In [ ]:
f1.tell()
f2.tell()

In [ ]:
import sys
sys.getdefaultencoding()

'utf-8'

In [ ]:
f1.seek(3)
f1.read(1)
f1.tell()

Lastly, we remember to close the files:

In [ ]:
f1.close()
f2.close()

To write text to a file, you can use the file’s write or writelines methods. For
example, we could create a version of PHAO CỨU SINH MÔN JAVA.docx with no blank lines
like so:

In [ ]:
path

'C:\\Users\\Admin\\SGU Document\\Tài liệu ôn thi\\PHAO CỨU SINH MÔN JAVA.docx'

In [ ]:
with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()
lines

### Bytes and Unicode with Files
The default behavior for Python files (whether readable or writable) is text mode,
which means that you intend to work with Python strings (i.e., Unicode). This
contrasts with binary mode, which you can obtain by appending b to the file mode.

In [ ]:
with open(path) as f:
    chars = f.read(10)
chars

len(chars)

In [ ]:
with open(path, mode="rb") as f:
    data = f.read(10)
data

In [ ]:
data.decode("utf-8")
data[:4].decode("utf-8")

Text mode, combined with the encoding option of open, provides a convenient way
to convert from one Unicode encoding to another:

In [ ]:
sink_path = "sink.txt"

with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

In [ ]:
f = open(path, encoding='utf-8')
f.read(5)
f.seek(4)
f.read(1)
f.close()

## 3.4 Conclusion